body{
    font-family: Avenir Next;
}

.header{
    background-color: rgb(73, 6, 208);
    color: #fff;
    height: 100px;
}

.header-logo{
    font-size: 36px;
    padding: 20px;
}

.main{
    padding:50px 80px;
    text-align: center;
    min-height: 60vh;
}

.copy-container h1{
    font-size: 60px;
}

.copy-container h2{
    font-size:30px;
}

.contents input{
    color: #fff;
    text-align: center;
    margin-top: 50px;
    font-size:40px;
    border-radius: 10px;
    background-color: rgb(73, 6, 208);
    display: inline-block;
}

.footer{
    background-color: rgb(73, 6, 208);
    color: #fff;
    height: 100px;
}

.footer-logo{
    font-size: 36px;
    padding: 20px;
    float: right;
}